[Unit]
Description = Shipping Service

[Service]
user=roboshop
// highlight- start
Environment=CART_ENDPOINT=cart.johndaws.shop:8080
Environment=DB_HOST=mysql.johndaws.shop
// highlight-end
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
Wantedby=multi-user.target
